body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #556cf0;
  // background: url("assets/michaelmarkieta_globalfligh.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  width: 100vw;
  height: 100px;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  .logo_box {
    background-image: url("assets/TsFlightsHorizLogo.jpg");
    height: 80px;
    width: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px 20px;
    align-self: flex-start;
    @media screen and (max-width: 497px) {
      margin-left: 4px;
      margin-top: 7px;
    }
  }

  .link_box {
    width: 300px;
    height: 80px;
    margin: 10px;
    align-self: flex-end;
    border: 1px dotted grey;
    display: flex;
    align-items: center;
    justify-content: space-around;
    @media screen and (max-width: 497px) {
      width: 150px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    button{
      border-radius: 25px;
      border: none;
      width: 100px;
      height: 50px;
      background-color: #014BAE;
      color: white;
      text-align: center;
      @media screen and (max-width: 497px) {
        width: 80px;
        height: 35px;
      }
    }
  }
}
